.CustomButton{
    background-color: green;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.CustomButton:hover{
    cursor: pointer;
    background-color: #006400;
}

.Success {
    background-color: green;
    color: white;
}

.Danger {
    background-color: red;
    color: white;
}