.CustomButton{
    background-color: #00c853;
    color: black;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.CustomButton:hover{
    cursor: pointer;
    background-color: #5efc82;
}

.Success {
    background-color: #00c853;
    color: black;
}

.Danger {
    background-color: red;
    color: white;
}