.ProjectCard {
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px gray;
    width: 500px;
    margin: auto;
    border-radius: 5px;
    height: 100px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}